<html>

	<head>
		<meta charset="utf-8">
		<link href="static/estilo.css" rel="stylesheet" type="text/css">
	</head>


	<body>

		<div id="principal">

			<div id="cabecera">
					<br>
					<form method = 'POST' , action ='/login/'>
					<input type="text" size="14" maxlength="30" placeholder="Usuario" value="" name="usuario"
					autocomplete="off">
					<br>
					<input type="Password" size="14" maxlength="30" placeholder="Contraseña" value="" name="contraseña" autocomplete="off">
					<br>
					<input type="submit" name="submit" value="Login" />
					</form>
			</div>

			<div id="menu">
			Menú
			</div>

			<div id="pag_personal">
			Paginas personales
			</div>

			<div id="contenido">
			Contenido total museos
			</div>

			<div class="join_columns">
			</div>

			<div id="foot">
			pie de pagina
			</div>

		</div>

	</body>

</html>

