body{
}


#principal{
	width: 1150px;
	border: 2px solid #79B474;
	margin: 0px auto;

}

#Cabecera{
	height: 150px;
	border: 1px solid #000000;
	margin: 10px 25px 10px 25px;
	background-image: url("images/bannercabecera.jpg");
}

.lu{
	margin-left: 200px;

}

#menu{
	height: 50px;
	border: 1px solid #000000;
	margin: 5px 25px 10px 25px;
}

#pag_personal{
	width: 300px;
	border: 1px solid #000000;
	margin: 10px 25px 10px 25px;
	float: left;
}

#contenido{
	width: 740px;
	border: 1px solid #000000;
	margin: 10px 25px 10px 25px;
	float: left;
}

.join_columns{
	clear: both;
}

#foot{
	height: 50px;
	border: 1px solid #000000;
	margin: 10px 25px 10px 25px;
}