{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
		<link rel="shortcut icon" href="http://1.bp.blogspot.com/-NJVva85kbH0/UqSGae7X3-I/AAAAAAAAFyg/EDnaBwqwuQM/s1600/el+grito+detalle+1.jpg" />
	</head>


	<body>

		<div id="principal">

			<div id="cabecera">
				<form method = 'POST' action ='/login/'>
					<p align="right">
						<input type="text" size="14" maxlength="30" placeholder="Usuario" value="" name="usuario" autocomplete="off"><br>
						<input type="Password" size="14" maxlength="30" placeholder="Contraseña" value="" name="contraseña" autocomplete="off"><br>
						<input type="submit" name="submit" value="Login" />
						<input type="submit" name="submit" value="Register" />
					</p>
				</form>

			</div>


			<div id="menu">
				<ul>
					<li><a href="/">Inicio</a></li>
					<li><a href="#">Area personal</a></li>
					<li><a href="/museos">Museos</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>

			<div id="contenido">
				<about>
					<center>
						<p align="justify">
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
							Página realizada por Saray Moratino Sousa. Muestra todos los museos de Madrid
						</p>
					</center>
				</about>

			</div>

			<div class="join_columns">
			</div>

			<div id="foot">
				<center><h5><i><a style='color: #ffffff'>
					Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid.
							<a href="https://datos.madrid.es/portal/site/egob/menuitem.c05c1f754a33a9fbe4b2e4b284f1
							?vgnextoid=118f2fdbecc63410VgnVCM1000000b205a0aRCRD&vgnextchannel=
							374512b9ace9f310VgnVCM100000171f5a0aRCRD&vgnextfmt=default" style='color: #CC2EFA'> Enlace al portal</a>_
				</a></i></h5></center>
			</div>

		</div>

	</body>

</html>
